<?xml version="1.0" encoding="utf-8"?><!--
~ Copyright (c) 2009 Andrew <andrewdubya@gmail>
~ Copyright (c) 2009 Nicolas Raoul <nicolas.raoul@gmail.com>
~ Copyright (c) 2009 Edu Zamora <edu.zasu@gmail.com>
~ Copyright (c) 2009 Casey Link <unnamedrambler@gmail.com>
~ Copyright (c) 2011 Norbert Nagold <norbert.nagold@gmail.com>
~
~ This program is free software; you can redistribute it and/or modify it under
~ the terms of the GNU General Public License as published by the Free Software
~ Foundation; either version 3 of the License, or (at your option) any later
~ version.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT ANY
~ WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
~ PARTICULAR PURPOSE. See the GNU General Public License for more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest package="com.ichi2.anki"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <application
        android:name="com.ichi2.anki.AnkiDroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name="com.ichi2.anki.IntentHandler"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <!-- *.apkg matcher. NOTE: when pathPattern is used, host and scheme must also be specified -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ankichina"
                    android:path="/home"
                    android:scheme="scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="file" />
                <!-- .card files -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.card"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.card"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.card"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.card"
                    android:scheme="file" />
                <!-- .colpkg files -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="file" />

            </intent-filter>
            <!-- MIME type matcher for .apkg files coming from providers like gmail which hide the file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/apkg" />
                <data android:mimeType="application/card" />
                <data android:mimeType="application/colpkg" />
                <data android:mimeType="application/vnd.anki" />
                <data android:mimeType="application/x-apkg" />
                <data android:mimeType="application/x-colpkg" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
                <data
                    android:mimeType="application/zip"
                    android:scheme="content" />
            </intent-filter>

            <!-- Tasker DO_SYNC intent -->
            <intent-filter>
                <action android:name="com.ichi2.anki.DO_SYNC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ichi2.anki.DeckPicker"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme_Dark_Compat.Launcher" />
        <activity
            android:name="com.ichi2.anki.StudyOptionsActivity"
            android:configChanges="keyboardHidden|locale|orientation|screenSize"
            android:exported="false"
            android:label="StudyOptions"
            android:parentActivityName=".DeckPicker">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ichi2.anki.DeckPicker" />
        </activity>

        <!-- Context menu item name is the label, context is the system language -->
        <!-- Note: This appears to require that the target label is variable -->
        <activity
            android:name="com.ichi2.anki.CardBrowser"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="true"
            android:label="@string/card_browser_label"
            android:parentActivityName=".DeckPicker">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ichi2.anki.DeckPicker" />
        </activity>
        <activity
            android:name=".SelfStudyActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/model_self_study_label"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ModelBrowser"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/model_browser_label" />
        <activity
            android:name=".ModelFieldEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:label="@string/model_editor_label" />
        <activity
            android:name="com.ichi2.anki.Reviewer"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="true"
            android:parentActivityName=".DeckPicker"
            android:windowSoftInputMode="adjustResize">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ichi2.anki.DeckPicker" />
        </activity>
        <activity
            android:name="com.ichi2.anki.VideoPlayer"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.ichi2.anki.MyAccount"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/menu_my_account" />
        <activity
            android:name="com.ichi2.anki.MyAccount2"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/menu_my_account"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ichi2.anki.Preferences"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/preferences_title"
            android:theme="@style/LegacyActionBarLight">
            <intent-filter>
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ichi2.anki.DeckOptions"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/deckpreferences_title"
            android:theme="@style/LegacyActionBarLight" />
        <activity
            android:name=".FilteredDeckOptions"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/deckpreferences_title"
            android:theme="@style/LegacyActionBarLight" />
        <activity
            android:name="com.ichi2.anki.Info"
            android:configChanges="locale"
            android:exported="false"
            android:label="@string/about_title" />
        <activity
            android:name="com.ichi2.anki.NoteEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="true"
            android:label="@string/fact_adder_intent_title">
            <intent-filter>
                <action android:name="org.openintents.action.CREATE_FLASHCARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ichi2.anki.analytics.AnkiDroidCrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:process=":acra"
            android:theme="@style/Theme.CrashReportDialog" />

        <activity
            android:name="com.ichi2.anki.Previewer"
            android:configChanges="locale"
            android:exported="false"
            android:label="@string/preview_title" />
        <activity
            android:name="com.ichi2.anki.CardTemplatePreviewer"
            android:configChanges="locale"
            android:exported="false"
            android:label="@string/preview_title" />

        <activity
            android:name=".multimediacard.activity.MultimediaEditFieldActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/title_activity_edit_text" />
        <activity
            android:name="com.ichi2.anki.multimediacard.activity.TranslationActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/title_activity_translation"></activity>

        <!-- small widget -->
        <activity
            android:name="com.ichi2.anki.multimediacard.activity.LoadPronounciationActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/title_activity_load_pronounciation"></activity>

        <!-- "Add Note" widget -->
        <activity
            android:name="com.ichi2.anki.CardTemplateEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/title_activity_template_editor"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <!-- Service to perform web API queries -->
        <activity
            android:name=".WebViewActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:theme="@style/LegacyActionBarLight"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".InfoActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:theme="@style/LegacyActionBarLight"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".CardTemplateBrowserAppearanceEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:exported="false"
            android:label="@string/card_template_browser_appearance_title" />
        <activity android:name=".ChooseLoginServerActivity" />
        <activity
            android:name="com.ichi2.anki.Previewer2"
            android:configChanges="locale"
            android:exported="false"
            android:label="主动学习" />
        <activity
            android:name="com.ichi2.anki.StudySettingActivity"
            android:configChanges="locale"
            android:exported="false"
            android:label="学习设置" />
        <activity
            android:name="com.ichi2.anki.SpeakSettingActivity"
            android:configChanges="locale"
            android:exported="false"
            android:label="朗读设置" />
        <activity
            android:name=".PosterActivity"
            android:configChanges="locale"
            android:exported="false"
            android:label="海报"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".SwitchEngineActivity" />
        <activity
            android:name="com.app.ankichinas.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent20211020" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="com.ichi2.anki.CardBrowserContextMenuAction"
            android:label="@string/card_browser_context_menu"
            android:targetActivity="com.ichi2.anki.CardBrowser">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.ichi2.anki.AnkiCardContextMenuAction"
            android:enabled="false"
            android:label="@string/context_menu_anki_card_label"
            android:targetActivity=".NoteEditor">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.minimode.icon.portrait.normal"
            android:resource="@drawable/anki" />
        <meta-data
            android:name="com.sec.minimode.icon.landscape.normal"
            android:resource="@drawable/anki" />

        <provider
            android:name=".provider.CardContentProvider"
            android:authorities="${applicationId}.flashcards"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="com.ichi2.anki.provider.spec"
                android:value="2" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.apkgfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="${applicationId}.fileprovider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/filepaths" />-->
        <!--        </provider>-->
        <receiver
            android:name="com.ichi2.widget.AnkiDroidWidgetSmall"
            android:label="@string/widget_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_small" />
        </receiver>

        <receiver
            android:name="com.ichi2.widget.AddNoteWidget"
            android:label="@string/widget_add_note">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_add_note" />
        </receiver>
        <!-- stuff for Samsung Multi-Window -->
        <receiver
            android:name="com.ichi2.anki.receiver.SdCardReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".services.ReminderService"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".services.BootService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.ichi2.widget.AnkiDroidWidgetSmall$UpdateService" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />
    </application>

    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.sina.weibo" />
    </queries>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="replace" />
    <!-- custom tabs library has minimum SDK of 16 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <permission
        android:name="${applicationId}.permission.READ_WRITE_DATABASE"
        android:description="@string/read_write_permission_description"
        android:label="@string/read_write_permission_label"
        android:protectionLevel="dangerous" />
    <uses-sdk tools:overrideLibrary="android.support.customtabs, com.getbase.floatingactionbutton" />

</manifest>
